# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
venv/
ENV/

# Packaging/Build
build/
dist/
*.egg-info/
*.egg
wheelhouse/

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log


